@use "../../../../public/scss/query-mixin" as mixin;

.order {
  position: absolute;
  inset: 0;
  z-index: 100;
  background: var(--bg-mask);
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixin.respond(tablet) {
    padding-inline: var(--spacing-500);
  }

  @include mixin.respond(phone) {
    padding-inline: 0;
    max-height: 100vh;
    align-items: end;
  }

  &__modal {
    box-sizing: border-box;
    width: 59.2rem;
    overflow: hidden;
    position: static;
    padding: var(--spacing-500);
    border: none;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);

    @include mixin.respond(tablet) {
      flex: 1;
    }

    @include mixin.respond(phone) {
      padding: var(--spacing-500) var(--spacing-300) var(--spacing-300);
      border-radius: 1.2rem 1.2rem 0 0;
    }
  }

  &__title {
    display: block;
    padding: var(--spacing-300) 0 var(--spacing-100) 0;
  }

  &__cart {
    padding: var(--spacing-300);
    background: var(--rose-50);
    border-radius: .8rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);

    li:not(:last-of-type) .order__item {
      padding-bottom: var(--spacing-200);
      border-bottom: 1px solid var(--rose-100);
    }
  }

  &__total {
    margin-top: var(--spacing-300);
    padding-top: var(--spacing-300);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--rose-100);
  }

  &__item {
    // need to fix layout on mobile here
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-100);
  }

  &__item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__data-box {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
  }

  &__img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: .4rem;
  }

  &__amount {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-100);
  }
}
