@use "../../../../public/scss/_query-mixin.scss" as mixin;

:host {
  grid-column: 9 / -1;

  @include mixin.respond(tablet) {
    grid-column: 1 / -1;
  }
}

.cart {
  background: var(--white);
  border-radius: 1.2rem;
  padding: var(--spacing-300);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);

  &__items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);

    li:not(:last-child) {
      padding-bottom: var(--spacing-200);
      border-bottom: 1px solid var(--rose-100);
    }
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__data-box {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      gap: var(--spacing-100);
    }

    &__name {
      grid-column: 1 / -1;
    }

    &__remove {
      cursor: pointer;
      --btn-color: var(--rose-400);
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      border: none;
      box-shadow: inset 0 0 0 1.25px var(--btn-color);
      background: transparent;
      color: var(--btn-color);
      transition: all .4s;
      position: relative;

      svg {
        transition: transform .4s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        --btn-color: var(--rose-900);
      }
    }
  }

  &__empty {
    padding-block: var(--spacing-200);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200);
    color: var(--rose-500);
  }

  &__total {
    padding-top: var(--spacing-300);
    border-top: 1px solid var(--rose-100);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__delivery {
    padding: var(--spacing-200);
    background: var(--rose-50);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
  }
}
